#include <windows.h>
#include "VERSION"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION VERSION_MAJOR,VERSION_MINOR,VERSION_BUILD,VERSION_PATCH
 PRODUCTVERSION VERSION_MAJOR,VERSION_MINOR,VERSION_BUILD,VERSION_PATCH
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
  {
    BLOCK "080404b0"
    {
      VALUE "CompanyName", COMPANY_FULLNAME
      VALUE "ProductName", PRODUCT_FULLNAME
      VALUE "FileDescription", PRODUCT_FULLNAME
      VALUE "FileVersion", PRODUCT_VERSION
      VALUE "ProductVersion", PRODUCT_VERSION
      VALUE "InternalName", PRODUCT_SHORTNAME
      VALUE "LegalCopyright", PRODUCT_COPYRIGHT
      VALUE "OriginalFilename", PRODUCT_FILENAME
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x804, 1200
  }
}

